body{
    background-color: #f1f1f1;
    background-image: url(../images/food.png);
}

img{
    width: 800px;
    height: auto;
    align-items: center;
    border: 2px solid whitesmoke;
    
}
h2{
    text-align: center;
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: 60px;
    color: blue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
ol, ul, li{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 21px;
    
}
p{
    text-align: center;
    font-size: 25px;
}



a:link, a:visited {
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }